ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
RESET_PASSWORD_TOKEN_SECRET=
VERIFY_EMAIL_TOKEN_SECRET=

MONGO_URI=

ACCOUNT_SERVICE_PORT=4000
ACCOUNT_SERVICE_BASE_URL=http://localhost:4000
FRONTEND_BASE_URL=http://localhost:3000

APP_NAME=FachApp
NODE_ENV=development
SALT=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
