.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.nav-item.active {
  background-color: #262626;
  color: white;
}

.nav-item.active span {
  font-weight: 700;
}

.nav-item.active svg {
  color: white;
}
