ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

MONGO_URI=

AUTH_SERVICE_PORT=5000
AUTH_SERVICE_BASE_URL=http://localhost:5000
TICKETING_SERVICE_PORT=5001
TICKETING_SERVICE_BASE_URL=http://localhost:5001
FRONTEND_BASE_URL=http://localhost:3000
