ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

MONGO_URI=

AUTH_SERVICE_PORT=4000
AUTH_SERVICE_BASE_URL=http://localhost:4000
TICKETING_SERVICE_PORT=4001
TICKETING_SERVICE_BASE_URL=http://localhost:4001
FRONTEND_BASE_URL=http://localhost:3000
